@model Usuario
@{
    ViewData["Title"] = "Inicio";
}


<div class="container" style="border: solid 1px; padding: 30px; margin-top: 125px">
    <div class="row">
        <div class="col-md-12">
        <h2 class="text-primary text-center mb-3">Bienvenido a <b>Riwi Salud</b></h2>
        
            <form asp-controller="Usuarios" asp-action="Index" method="post">
                <div class="form-group">
                    <label for="TipoDocumento">Seleccione el tipo de documento</label>
                    <select class="form-control" asp-for="TipoDocumento" required>
                        <option value="" disabled selected> Tipo de Documento</option>
                        <option value="CC">CC - Cèdula de Ciudadanìa</option>
                        <option value="TI">TI - Tarjeta de Identidad</option>
                        <option value="RC">RC - Registro Civil de Nacimiento</option>
                        <option value="PS">PSP - Pasaporte</option>
                    </select>
                
                <div class="form-group mt-3">
                    <label for="NumeroDocumento">Ingrese su nùmero de documento</label>
                    <input class="form-control" asp-for="NumeroDocumento" placeholder="Ejemplo: 100393213" required>
                </div>
                <div class="form-group text-center mt-3">
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</div>

