@{
    ViewData["Title"] = "Menù - Citas mèdicas";
}

<style>
    .container{
        background-color: rgba(227, 227, 227, 0.215);
        padding: 20px;
        border: 1px solid black;
        margin-top: 60px;
    }

    .top-container{
        justify-content: space-between;
        border-bottom: 1px solid black;
    }

    .top-right i{
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color:red;
        border: 1px solid red;
        padding: 5px;
        border-radius: 50%;
    }

      .top-right i:hover{
        font-size: 12px;
        color:black;
        background-color: red;
        border: 1px solid red;
        cursor: pointer;
        padding: 6px;
        border-radius: 40%;
        transition: cubic-bezier(0.215, 0.610, 0.355, 1);
        transition-duration: 0.2s;
    }

    h3{
        color: rgb(156, 189, 37);
    }

    .container-opciones{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }

    .col a{
        width: 300px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    .row a:hover{
        background-color: blue;
        color: white;
    }

    .btn-regresar{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding: 10px;
    }

    .btn-regresar:hover{
        width: 100px !important;
        background-color: blue !important;
        color: white !important;
        text-decoration: underline !important;

    }

</style>

<div class="contenedor">
    <div class="top-container d-flex">
        <div class="top-left">
            <nav>
                <a asp-controller="Usuarios" asp-action="Index">Ingreso</a>
                <span>></span>
                <a asp-controller="Usuarios" asp-action="Menu">Menù</a>
            </nav>
        </div>
        <div class="top-mid">
            <div class="user-box d-flex">
                <i class="fa-regular fa-circle-user me-2 mt-1"></i>
                <p>@ViewBag.CookieTipoDocumento : </p>
                <p> @ViewBag.CookieDocumento - </p>
                <p>&nbsp;</p>
                <p>@ViewBag.CookieNombres</p>
                <p>&nbsp;</p>
                <p>@ViewBag.CookieApellidos</p>
            </div>
        </div>
        <div class="top-right">
             <a class="text-decoration-none" asp-controller="Usuarios" asp-action="Salir">
                 <i class="fa-solid fa-x"></i>
            </a>
        </div>
    </div>

    <div class="container-contain mt-4">
        <div class="col container-opciones text-center d-flex">
        <h3 class="text-center mt-3">Selecione una opciòn</h3>
                <div class="row">
                    <div class="col d-flex justify-content-end mt-3">
                        <a asp-controller="Usuarios" asp-action="Turno" class="border border-primary">(CCI) Confirmaciòn de Cita</a>
                    </div>

                    <div class="col d-flex  mt-3">
                        <a asp-controller="Usuarios" asp-action="Turno" class="border border-primary">(CCG) Consulta Mèdico General</a>
                    </div>

                    <div class="w-100"></div>

                    <div class="col d-flex justify-content-end mt-3">
                        <a asp-controller="Usuarios" asp-action="Turno" class="border border-primary">(CCP) Consulta de Psiquiatrìa</a>
                    </div>
                    <div class="col d-flex  mt-3">
                        <a asp-controller="Usuarios" asp-action="Turno" class="border border-primary">(CCO) Consulta de Ortopedìa</a>
                    </div>
                  
                    <div class="w-100"></div>

                    <div class="col d-flex justify-content-end  mt-3">
                        <a asp-controller="Usuarios" asp-action="Turno" class="border border-primary">(CCD) Crecimiento y Desarrollo</a>
                    </div>
                    <div class="col d-flex mt-3">
                        <a asp-controller="Usuarios" asp-action="Turno" class="border border-primary">(CCC) Consulta de Cardiologìa </a>
                    </div>
                    <div class="w-100"></div>
                    
                    <div class="col d-flex justify-content-end  mt-3">
                        <a asp-controller="Usuarios" asp-action="Turno" class="border border-primary">(CCN) Consulta de Neurologìa </a>
                    </div>
                    <div class="col d-flex mt-3">
                        <a asp-controller="Usuarios" asp-action="Turno" class="border border-primary">(CNE) Consulta de Neumologìa </a>
                    </div>
                </div>

                <a asp-controller="Usuarios" asp-action="Menu" class="btn-regresar text-center"> < Regresar</a>
        </div>
    </div>
</div>