@model Asesor

@{
    ViewData["Title"] = "Registro";
}

<div class="container-fluid">
    <div class="row justify-content-center bg-light" style="border: solid 1px;">
        <div class="col-md-8" style="padding: 20px;">
            <h2 class="text-primary text-center mb-3">Registrate en <b>Riwi Salud</b></h2>
            <form asp-controller="Asesores" asp-action="Registro" method="post">

                <div class="form-group mt-3">
                    <label asp-for="Nombres">Ingrese su Nombre:</label>
                    <input asp-for="Nombres" class="form-control" type="text" placeholder="Ejemplo: Carlos">
                    <span asp-validation-for="Nombres" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Apellidos">Ingrese su Apellido:</label>
                    <input asp-for="Apellidos" class="form-control" type="text" placeholder="Ejemplo: Ruiz">
                    <span asp-validation-for="Apellidos" class="text-danger"></span>

                </div>

                <div class="form-group mt-3">
                    <label asp-for="Correo">Ingrese su Correo:</label>
                    <input asp-for="Correo" class="form-control" type="email"
                        placeholder="Ejemplo: Carlos.121@gmail.com">
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Contrase単a">Ingrese su Contrase単a:</label>
                    <input asp-for="Contrase単a" class="form-control" type="password" placeholder="**********">
                    <span asp-validation-for="Contrase単a" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Modulo">Ingrese su Modulo:</label>
                    <input asp-for="Modulo" class="form-control" type="text" placeholder="Ejemplo: MCE023">
                    <span asp-validation-for="Modulo" class="text-danger"></span>
                </div>

                <div class="form-group text-center mt-3">
                    <button asp-form="Asesores" asp-action="Registro" class="btn btn-primary">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
</div>
